# virtual enviroments
venv/
.venv/

# python cache and compiled file
__pycache__/
*.pyc

# Enviroment variables and secrets
.env
.flaskenv

# local database files
instance/
*.db
*.sqlite3

# IDE & OS Specific Files
.vscode/
.idea/

# test articfacts
.pytest_cache/